@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 12px;
  background-size: auto 100vh;
  background-image: url('/bg.png');
  
  @media (max-width: 600px) {
    background-size: 100vw auto;
  } 
}